
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

body{
    background: #8ED68D;
}
/* Accordian page styling */

.wrapper {
    background: #8ED68D;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-top: 160px;
    position: relative;
}

.top{
   margin-bottom: 40px;
   position: absolute;
   top: 90px;
}

.top h1{
    color: #EEF6F3;
    text-transform: uppercase ;
    padding-bottom: 10px;
}

.top h3{
    color: #505050;
    font-weight: bold;
}

.bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.bottom .left{
    padding-right: 300px;
}

.bottom .right img{
    width: 220px;
    margin-left: 25px;
    position: absolute;
    right: 380px;
    border-radius: 10px;
}
